@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: #232323; */
  font-size: 16px;
  font-family: sans-serif;
  behavior: smooth;
}

body {
  overflow-x: hidden;
}


.center {
  @apply flex items-center justify-center
}

.icon {
  @apply w-11 h-11 border border-solid border-[#dedede] rounded-[50%] center bg-white shadow-custom
}

.title {
  @apply font-bold text-center text-4xl leading-[46px] mb-[50px];
}

.title-checkout {
  @apply text-[26px] font-bold leading-[36px];
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hover-zoom-out {
  transition: all 0.3s ease-in-out;
}

.hover-zoom-out:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.hover-text:hover {
  color: #3B71FE;
  cursor: pointer;
}

.mySwiper .swiper-button-next {
  @apply  bg-white w-10 h-10 rounded-[50%] shadow-custom top-[40%] right-[-15px] ;
}

.mySwiper .swiper-button-prev {
  @apply   bg-white w-10 h-10 rounded-[50%] shadow-custom top-[40%] left-[-15px];
}

.mySwiper .swiper-button-prev::after {
  @apply text-[14px] text-black
}

.mySwiper .swiper-button-next::after {
  @apply text-[14px] text-black
}

.text-p {
  @apply text-[14px] font-normal text-gray leading-[22px];
}

.text-footer {
  @apply text-base text-gray leading-8;
}

.hover {
  @apply hover:text-[#0d6efd] cursor-pointer;
}

.border-line {
  @apply border border-solid border-[#dedede];
}

.border-bottom {
  @apply border-b border-solid border-[#dedede]
}

.dropdown {
  @apply py-2.5 min-w-[230px] top-[120%] opacity-0 z-[-1] bg-white border absolute rounded-[12px] shadow-custom;
}

.link-dropdown {
  @apply py-4 w-full border-b border-solid border-gray-200 inline-flex font-bold ;
}

.link-dropdown-item {
  @apply py-3 font-medium border-b border-solid border-gray-200 block;
}

.search-sm {
  @apply sm:border sm:border-solid sm:z-40 sm:border-[#dedede] sm:rounded-[70px];
}

.search-lg {
  @apply lg:border lg:border-solid lg:z-40 lg:border-[#dedede] lg:rounded-[24px]
}

.search-item {
  @apply px-5 py-5 w-full lg:py-0 flex border-b border-solid border-[#dedede];
}

.scroll-top-up {
  @apply bottom-[55px] transition-all ease-in duration-500 opacity-100;
}
